
.button {
    margin-right: 40px;
}

.border {
    width: 200px;
    height: 200px;
}

/*  Navbar */

.input {
    padding-left: 20px;
    width: 40px;
    height: 40px;
}

.choose-color{
    width: 80px;
}
.input {
    margin-right: 10px;
}
.App {
    background-color: rgb(235, 128, 135);
}

/* Media */

@media (min-width: 750px) {
    .left-form {
        padding-left: 25px;
        padding-right: 25px; 
    }
    .card-style {
       height: 500px;
    }
  }

  @media (max-width: 750px) {
    .left-form {
        padding-left: 25px;
        padding-right: 25px;
    }
    .card-style {
        height: 950px;
    }
    .qr-area {
        margin: 50px;
    }
    .choose-color{
        width: 60px;
    }
  }

  .border {
    width: 40px;
    height: 37px;
  }

  .btn-primary {
    /* background-color: black; */
    border-color: black;
    border-width: 2px;
  }

  .btn-primary:hover {
    /* background-color: black; */
    border-color: black;
    border-width: 2px;
    background-color: black;
  }
  
  